---
import SquareBracketV from "./SquareBracket_V.astro";
import { getCollection } from 'astro:content';

const galleryProjects = await getCollection('gallery');

// Sort galleryProjects by projectName
galleryProjects.sort((a, b) => a.data.projectName.localeCompare(b.data.projectName));

// Log the filtered results
galleryProjects.forEach((entry) => {
	const project = entry.data.projectName;
  	console.log(`${project}`); // Should only log entries matching the target project
});

---

  <ul>
    <a href={`#${galleryProjects[0].data.projectName}`}>Gallery</a>
    {galleryProjects.map((page) => {
      const projectId = page.data.projectName;
      return (
        <li key={projectId}>
          <a href={`#${projectId}`}>{page.data.title}</a>
        </li>
      );
    })}
  </ul>


<style>
@import "../styles/global.css";



ul {
  font-size: var(--font-size-dekstop-h1);
  padding: 0.2rem 0.2rem;
  text-align: center;
  margin: 0;
  
}


li {
  font-size: var(--font-size-dekstop);
  list-style: none;
  margin: 0.6rem 0 0.6rem 0; 
  text-align: left;
  padding: 0px 15%;
}

a {
  text-decoration: none;
  color: inherit;
  pointer-events: auto;
}

</style>