---
import SquareBracketV from "./SquareBracket_V.astro";
import { getCollection } from "astro:content";

const galleryProjects = await getCollection("gallery");

// Sort galleryProjects by projectName
galleryProjects.sort((a, b) =>
  a.data.projectName.localeCompare(b.data.projectName),
);

// Log the filtered results
galleryProjects.forEach((entry) => {
  const project = entry.data.projectName;
  console.log(`${project}`); // Should only log entries matching the target project
});
---

<ul>
  <a
    href={`/#${galleryProjects[0].data.projectName}`}
    class:list={["menuLinks GalleryTitle"]}>Gallery</a
  >
  {
    galleryProjects.map((page) => {
      const projectId = page.data.projectName;
      return (
        <li key={projectId}>
          <a href={`/#${projectId}`} class:list={["menuLinks projectLinks"]}>
            {page.data.title}
          </a>
        </li>
      );
    })
  }
</ul>

<style>
  @import "../styles/global.css";

  ul {
    display: grid; /* Set the li element to use grid layout */
    align-items: center;
    padding: 0.2rem 0.2rem;
    text-align: center;
    margin: -0.5rem 0 -0.5rem 0;
    height: min-content;
  }

  li {
    list-style: none;
    margin: 0;
    text-align: left;
    padding: 0 15%;
    /* Vertically center the content within the grid */
  }

  li:last-child {
    margin-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: inherit;
    margin-top: 1rem;
    pointer-events: auto;
    width: 100%; /* Ensure the anchor tag fills the li for better clickable area */
  }

  .linkShow {
    display: block;
  }

  .linkHidden {
    display: none;
  }
  .GalleryTitle {
    margin-top: 1rem;
    font-size: var(--font-size-dekstop-h1);
    font-family: PowerGrotesk-Light;
    font-weight: 200;

    @media (--bp-mobile) {
      font-size: var(--font-size-mobile-h1);
    }

    @media (--bp-tablet) {
      font-size: var(--font-size-tablet-h1);
    }

    @media (--bp-desktop-wide) {
      font-size: var(--font-size-desktop-wide-h1);
    }
  }

  .projectLinks {
    font-size: var(--font-size-desktop);
    font-family: PowerGrotesk-Light;
    font-weight: 200;

    @media (--bp-mobile) {
      font-size: var(--font-size-mobile);
    }

    @media (--bp-tablet) {
      font-size: var(--font-size-tablet);
    }

    @media (--bp-desktop-wide) {
      font-size: var(--font-size-desktop-wide);
    }
  }
</style>
